html, body {
    min-width: 290px;
    color: #4d4e53;
    background-color: #ffffff;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5;
    display: block;
}
section article {
    color: #4d4e53;
    margin: 15px;
    font-size: 0.96em;
}
article {
    display: block;
}
#main-doc header {
    text-align: left;
    margin: 0px;
}
header {
    color: black;
    margin: 10px;
    text-align: center;
    font-size: 1.8em;
    font-weight: thin;
}
code {
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}
code {
    font-family: monospace;
}

#main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
}

#navbar{
    width: 18.5rem;
    height: 100%;
    position: fixed;
    box-shadow: 3px 0px #4d4e53;
}

#navbar header{
    margin:20px;
}

#navbar a {
    display: block;
    padding: 10px 30px;
    color: #4d4e53;
    text-decoration: none;
    cursor: pointer;
}
#navbar li {
    color: #4d4e53;
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
}

#navbar ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    text-align: -webkit-match-parent;
}
ul {
    list-style-type: disc;
}

/* Responsive Web */



@media only screen and (max-width: 815px){
#main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 0px;
}

#navbar{
    position: relative;
    width: 100%;
}

#navbar ul {
    border: 1px solid;
    height: 207px;
}

}